@import "./Variables.scss";
@media screen and (min-width: 1000px) {
  body {
    font-size: 14px;
  }
  .header__container {
    width: 90%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .form {
    width: 35%;
    margin: 2rem 0 1rem;
  }
  .selector {
    width: 20%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
  .country-detail {
    .main-wrapper {
      width: 100%;
      display: flex;
      margin-top: 2rem;
      flex-direction: row;
      gap: 8%;
      .country-flag {
        align-self: flex-start;
        max-width: 40%;
        margin: 0 0;
      }
      .text-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .country-info {
          width: 100%;
          &__country-name {
            margin: 0;
          }
          &__cols {
            gap: 10%;
            flex-direction: row;
          }
          &__border-countries {
            width: 80%;
          }
        }
      }
    }
  }
}
